---
name: Kat and Dirk Play Rogue Legacy
thumb_100: /images/placeholder/rogue-legacy.jpg
youtube: https://www.youtube.com/watch?v=J9ZhEE40lzI
date: 8 July 2013
length: 40 min.
---
<p>In which Kat kills many monsters and Dirk muses on Lance Armstrong’s remaining teste.</p>
