---
name: Minecraft Day 1 Part 1 with Kat &amp; Dirk
thumb_100: /images/placeholder/minecraft-d1p1.jpg
youtube: http://www.youtube.com/watch?v=PsIK0AlDarY
date: 11 July 2013
length: 20 min.
---
<p>In which Kat runs away and Dirk hits a cactus.</p>
