---
name: Left 4 Dead 2 Part 1 with Kat &amp; Dirk
thumb_100: /images/gameplay/l4d2-p1.jpg
youtube: https://www.youtube.com/watch?v=AH7k1qLOjCo
date: 12 July 2013
length: 27 min.
---
<p>In which Kat attempts flight and Dirk fails to understand basic controls.</p>
