<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--
<%= @item.inspect %>
    -->
    <title><%= (@item.identifier == "/") ? @item[:title] : (@item[:title] + " &mdash; meeep") %></title>
    
    <link href="/css/normalize-2.1.2.css" rel="stylesheet" media="screen" />
    <link href="/css/master.css" rel="stylesheet" media="screen" />
    <script type="text/javascript" src="//use.typekit.net/fvx6uoo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
  </head>
  <body>
    <header><div class="container">
      <h1><a href="/">meeep</a></h1>
    </div></header>
    <section id="main" class="container">
      <%= yield %>
    </section>
  </body>
</html>
